<h2><small><i class="fa fa-flag-o" aria-hidden="true"></i> Flagged Items</small></h2>

<div id="tablewrapper">

<div id="tableheader">
	  <div class="search pull-left">
	    <select id="columns" onchange="sorter.search('query')"></select>
	    <input type="text" id="query" onkeyup="sorter.search('query')" />
	  </div>
	  <span class="details pull-right">
	    <div>Records <span id="startrecord"></span>-<span id="endrecord"></span> of <span id="totalrecords"></span></div>
	    <div class="pull-right"><a href="javascript:sorter.reset()">Reset</a></div>
	  </span>
	</div>

<table id="table" class="table table-hover table-bordered table-striped">
	<thead>
		<tr>
			<th><h3>Datetime</h3></th>
			<th><h3>Incident Number</h3></th>
			<th><h3>Address</h3></th>
			<th><h3>Type</h3></th>
			<th><h3>Report Location</h3></th>
			<th><h3>Actions</h3></th>
		</tr>
	</thead>
	<tbody>
		<% flags.forEach(function(flag) { %>
			<tr>
				<td><%= flag.datetime %></td>
				<td><%= flag.incident_number %></td>
				<td><%= flag.address %></td>
				<td><%= flag.type %></td>
				<td><%= flag.latitude %> <%= flag.longitude %></td>
				<td align="center">
						<button type="button" class="btn btn-primary btn-sm btn-open-map" data-toggle="modal" data-target="#myModal" data-tooltip="true" data-placement="top" title="Open Map" data-address="<%= flag.address %>" data-latitude="<%= flag.latitude %>" data-longitude="<%= flag.longitude %>"><i class="fa fa-map-o" aria-hidden="true"></i></button>
				</td>
			</tr>
		<% }); %>
	</tbody>
</table>

	<div id="tablefooter">
	  <div id="tablenav" class="pull-left">
	    <div class="navicons">
	      <img src="images/first.gif" width="16" height="16" alt="First Page" onclick="sorter.move(-1,true)" />
	      <img src="images/previous.gif" width="16" height="16" alt="First Page" onclick="sorter.move(-1)" />
	      <img src="images/next.gif" width="16" height="16" alt="First Page" onclick="sorter.move(1)" />
	      <img src="images/last.gif" width="16" height="16" alt="Last Page" onclick="sorter.move(1,true)" />
	    </div>
	    <div>
	      Page <select id="pagedropdown" style="width:55px;"></select>
	      or<a href="javascript:sorter.showall()"> View all</a>
	    </div>
	    <div class="viewall">
	      
	    </div>
	  </div>
	  <div id="tablelocation" class="pull-right">
	    <div>
	      <select onchange="sorter.size(this.value)" style="width:65px;">
	        <option value="5">5</option>
	        <option value="10" selected="selected">10</option>
	        <option value="20">20</option>
	        <option value="50">50</option>
	        <option value="100">100</option>
	      </select>
	      <span>Entries Per Page</span>
	    </div>
	    <div class="page pull-right"><small>Page <span id="currentpage"></span> of <span id="totalpages"></span></small></div>
	  </div>
	</div>
</div>

<!--MODAL-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">

		    <div id='map'></div>
		    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close Map</button>
      </div>
    </div>
  </div>
</div>